<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{if isset($title)}{$title}{else}LiteApp{/if}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="{DT_STATIC}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{DT_STATIC}/bootstrap/icon/bootstrap-icons.min.css" rel="stylesheet">
    <link href="{DT_STATIC}/bootstrap/css/bootcomm.css?v={APP_VERSION}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{DT_STATIC}/base.css?v={APP_VERSION}"/>
    <link rel="stylesheet" type="text/css" href="{DT_SKIN}/common.css?v={APP_VERSION}"/>
    <link rel="stylesheet" type="text/css" href="{DT_SKIN}/admin.css?v={if ENVIRONMENT == 'DEV'}{APP_START_TIME}{else}{APP_VERSION}{/if}"/>
    {if isset($CSS) && is_array($CSS)}
    {loop $CSS $css}
    <link rel="stylesheet" type="text/css" href="{DT_SKIN}/{$css}.css?v={if ENVIRONMENT == 'DEV'}{APP_START_TIME}{else}{APP_VERSION}{/if}"/>
    {/loop}
    {/if}
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script type="text/javascript" src="{DT_STATIC}/jquery/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="{DT_STATIC}/jquery/jquery.cookie-1.4.1.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="{DT_STATIC}/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="{DT_STATIC}/admin/js/admin-comm.js?v={APP_VERSION}"></script>
    <script>
        adminComm = new adminCommFunc('{$access_token}', '{$Loader[token]}');
        var checkSubmitFlag = 0, checkRepeatFlag = 0;
        {php if(!isset($Loader['navigatorSiderFlag'])){$Loader['navigatorSiderFlag'] = 0;} }
        var navigatorSiderFlag ={$Loader[navigatorSiderFlag]};
    </script>
    <script type="text/javascript" src="{DT_STATIC}/admin/js/admin.js?v={if ENVIRONMENT == 'DEV'}{APP_START_TIME}{else}{APP_VERSION}{/if}"></script>
</head>

<body>
    